body{
    overflow-x: hidden;
    overflow-y: hidden;
}

#main-container {
    /* background-color: #9fe3a9; */
    min-height: 100vh;
}

.add_player_button {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
}

.pretty_button {
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    padding: 5px;
}

.center_text {
    padding: 10px;
}

.center_bottom_button {
    position:absolute;
    bottom:75px;
    right:25%;
    left:50%;
    width: 170px;
    margin-left:-85px;
}

.add_player_input {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
}

.add_player_div {
    margin: auto;
    width: 26%;
    margin-top: 100%;
    /* border: 3px solid green; */
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 10%;
}

.no-outline {
    outline: none;
}