{% extends "base.html" %} 
{% set active_page = "forside" %} 
{% block title %}{{title}}{% endblock %} 

{% block content %}

<h1 style="text-align: center; margin-top: 50px;">{{ title }}</h1>
<br>

<h5>Spiller liste</h5>
<p id="spillerliste"></p>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    {% for player in playerlist %}
    <li class="list-group-item">{{ player }}</li>
    {% endfor %}
  </ul>
</div>
<br>


<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Tilføj spiller" id="spiller" name="spiller">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" onclick="add_player_button()">+</button>
  </div>
</div>
<button class="btn btn-outline-secondary" onclick="window.location.href='/spil/'">Start spil</button>





<script>

var spillere = [];

function add_player_button() {
  spillere.push(document.getElementById("spiller").value);
  document.getElementById("spillerliste").innerHTML = spillere;
  document.getElementById("spiller").value = '';
}

</script>


{% endblock %}